---
title: kitchen sink
layout: layouts/postcard
#image: https://archive.org/download/still-resonating-1-postcard/one.png
templateEngineOverride: njk,md
---

## h2 audio test

{% audio "https://archive.org/download/still-resonating-1-supplemental/johns-fridge.mp3", "John Teske", "John's fridge" %}

### h3 video, 16:9

{% video "https://archive.org/download/still-resonating-1-video/Evan%20Woodle.mp4", "Evan Woodle" %}

### h3 video, other

{% video "https://archive.org/download/still-resonating-1-video/Nat%20Evans.mp4", "Nat Evans" %}
