---
title: kitchen sink
layout: layouts/page
templateEngineOverride: njk,md
---

## h2 audio test

{% audio "https://archive.org/download/still-resonating-1-supplemental/johns-fridge.mp3", "John Teske", "John's fridge" %}

### h3 video, 16:9

{% video "https://archive.org/download/still-resonating-1-video/Evan%20Woodle.mp4", "Evan Woodle" %}

### h3 video, other

{% video "https://archive.org/download/still-resonating-1-video/Nat%20Evans.mp4", "Nat Evans", "" %}

## h2

{% set testImage="https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%200%20-%20Laundry.jpeg" %}

### `--aspect-ratio`
<div style="--aspect-ratio: 3/2">
  <img src="{{ testImage }}" class="aspect-ratio-target" />
</div>

### `--aspect-ratio fallback`
<div>
  <img src="{{ testImage }}" />
</div>
