---
title: one
description: The first postcard of the 'still resonating' project
image: https://archive.org/download/still-resonating-1-postcard/one.png
templateEngineOverride: njk,md
---

## supplemental sounds

Here are some recordings you can add as a background when participating in the works:

{% audio "https://archive.org/download/still-resonating-1-supplemental/johns-fridge.mp3", "John Teske", "John's fridge" %}
{% audio "https://archive.org/download/still-resonating-1-supplemental/neils-fridge.mp3", "Neil Welch", "Neil's fridge" %}

## participant responses

<h3>Brent Williamson and Christiane Helbig</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Aural%20Hygiene%201%20-%20Brent%20Williamson%20and%20Christiane%20Helbig.m4a", "Brent Williamson and Christiane Helbig", "Aural Hygiene 1" %}
{% audio "https://archive.org/download/still-resonating-1-audio/Aural%20Hygiene%202%20-%20Brent%20Williamson%20and%20Christiane%20Helbig.m4a", "Brent Williamson and Christiane Helbig", "Aural Hygiene 2" %}
{% audio "https://archive.org/download/still-resonating-1-audio/Aural%20Hygiene%203%20-%20Brent%20Williamson%20and%20Christiane%20Helbig.m4a", "Brent Williamson and Christiane Helbig", "Aural Hygiene 3" %}
{% audio "https://archive.org/download/still-resonating-1-audio/Bathroom%201%20-%20Brent%20Williamson%20and%20Christiane%20Helbig.m4a", "Brent Williamson and Christiane Helbig", "Bathroom 1" %}

<h3>Evan Woodle</h3>
{% video "https://archive.org/download/still-resonating-1-video/Evan%20Woodle.mp4", "Evan Woodle" %}

<h3>Mara Sedlins</h3>
{% video "https://archive.org/download/still-resonating-1-video/Mara%20Sedlins.mp4", "Mara Sedlins" %}

<h3>Gregg Miller</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Normal%20Cycle%20-%20Wash%20-%20Gregg%20Miller.mp3", "Gregg Miller", "Normal Cycle - Wash" %}
<br />
{% imageSubmission "https://archive.org/download/still-resonating-1-audio/Gregg%20Miller%20-%20cover.jpg", "Gregg Miller" %}

<h3>Bryan Lineberry</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Dishwasher%20Jam%20-%20Bryan%20Lineberry.m4a", "Bryan Lineberry", "Dishwasher Jam" %}

<h3>Neil Welch</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Freezer%20Burn%20-%20Neil%20Welch.mp3", "Neil Welch", "Freezer Burn" %}

<h3>Nat Evans</h3>
{% video "https://archive.org/download/still-resonating-1-video/Nat%20Evans.mp4", "Nat Evans" %}

<h3>Dick Valentine</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Imaginary%20Appliance%20-%20Dick%20Valentine.mp3", "Dick Valentine", "Imaginary Appliance"  %}

<h3>Richard Apfel, Alma Davison, Sally James</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/Richard%20Apfel%2C%20Alma%20Davison%2C%20Sally%20James.m4a", "Richard Apfel, Alma Davison, Sally James", ""  %}

<h3>Steve Meyer</h3>
{% audio "https://archive.org/download/still-resonating-1-audio/3%20Modes%20of%20Hum%20-%2001%20-%20Mechanical%20Mode%20-%20Steve%20Meyer.m4a", "Steve Meyer", "3 Modes of Hum - Mechanical Mode" %}
{% audio "https://archive.org/download/still-resonating-1-audio/3%20Modes%20of%20Hum%20-%2002%20-%20Synthetic%20Mode%20-%20Steve%20Meyer.m4a", "Steve Meyer", "3 Modes of Hum - Synthetic Mode" %}
{% audio "https://archive.org/download/still-resonating-1-audio/3%20Modes%20of%20Hum%20-%2003%20-%20Beast%20Mode%20-%20Steve%20Meyer.m4a", "Steve Meyer", "3 Modes of Hum - Beast Mode" %}

<h3>Robin Harwick</h3>
{% video "https://archive.org/download/still-resonating-1-video/Robin%20Harwick.ia.mp4", "Robin Harwick" %}

<h3>Ester Sugai</h3>
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%200%20-%20Laundry.jpeg", "Ester Sugai", "Laundry" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%201%20-%20Fill.jpg", "Ester Sugai", "Fill" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%202%20-%20Soak.jpg", "Ester Sugai", "Soak" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%203%20-%20Churn.jpg", "Ester Sugai", "Churn" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%204%20-%20Empty%20%26%20Fill.jpg", "Ester Sugai", "Empty & Fill" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%205%20-%20Churn.jpg", "Ester Sugai", "Churn" %}
{% imageSubmission "https://archive.org/download/still-resonating-1-image/Esther%20Sugai%20-%206%20-%20Spin.jpg", "Ester Sugai", "Spin" %}
