---
title: two
image: https://archive.org/download/still-resonating-2-postcard/still-resonating-2-postcard.png
templateEngineOverride: njk,md
---

## [how to make a tin can phone](/tin-can-phone)

## participant responses

<h3>Mara Sedlins</h3>
{% video "https://archive.org/download/still-resonating-2-video/Mara%20Sedlins.ia.mp4", "Mara Sedlins" %}

<h3>Virginia Cosgriff</h3>
{% image "https://archive.org/download/still-resonating-2-image/Virginia%20Cosgriff.jpg", "Virginia Cosgriff" %}

<h3>Neil Welch</h3>
{% video "https://archive.org/download/still-resonating-2-video/Neil%20Welch%20-%20North-Facing.ia.mp4", "Neil Welch", "North-Facing" %}
<p>Neil Welch: saxophone, shruti box, live electronic sound processing, film and audio. Recorded at the Strait of Juan de Fuca and Seattle, WA</p>
