---
title: two
image: https://archive.org/download/still-resonating-2-postcard/still-resonating-2-postcard.png
templateEngineOverride: njk,md
---

## [how to make a tin can phone](/tin-can-phone)

## participant responses

<h3>Mara Sedlins</h3>
{% video "https://archive.org/download/still-resonating-2-video/Mara%20Sedlins.ia.mp4", "Mara Sedlins" %}

<h3>Virginia Cosgriff</h3>
<div class="constrain-aspect">
  <img src="https://archive.org/download/still-resonating-2-image/Virginia%20Cosgriff.jpg" />
</div>
