* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dddddd;
  font-family: "Arial", sans-serif;
  padding: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 45rem;
}

.index header {
  text-align: center;
}
.index header img {
  max-height: calc(100vh - 3rem);
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 1.1892em 0 0.8409em;
  line-height: 1.4142;
}

/* tetratonic scale */
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6818em;
}
h3 {
  font-size: 1.4142em;
}
h4 {
  font-size: 1.1892em;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.sr-audio {
  font-family: monospace;
}
.sr-audio .progress {
  height: 1em;
  border: 1px solid black;
  margin-bottom: 1em;
  position: relative;
}
.sr-audio .progress .bar {
  position: absolute;
  height: 100%;
  width: 0; /* init */
}
.sr-audio .buffer-bar {
  background: grey;
}
.sr-audio .progress-bar {
  background: blue;
}
.sr-audio .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sr-audio .status {
  cursor: default;
}
.sr-audio button {
  background: transparent;
  border: 1px solid black;
  padding: 0.5em;
  font-family: monospace;
}
.sr-audio button:hover,
.sr-audio button:focus {
  cursor: pointer;
  border-color: blue;
  color: blue;
}
.sr-audio button:focus {
  outline: 0;
}
.sr-audio button:disabled {
  border-color: grey;
  color: grey;
}
.sr-audio button.pause {
  display: none;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: grey;
}
.video iframe,
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.video .fallback {
  padding: 1em;
}

footer {
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
