* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: "Arial", sans-serif;
  padding: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 45rem;
}

.index #splash {
  margin-bottom: 2.38em;
}
.index #splash-card {
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 1.1892em 0 0.8409em;
  line-height: 1.4142;
}

/* tetratonic scale */
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6818em;
}
h3 {
  font-size: 1.4142em;
}
h4 {
  font-size: 1.1892em;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.custom-controls {
  font-family: monospace;
}
.custom-controls .progress {
  height: 1em;
  border: 1px solid black;
  margin-bottom: 1em;
  position: relative;
}
.custom-controls .progress .bar {
  position: absolute;
  height: 100%;
  width: 0; /* init */
}
.custom-controls .buffer-bar {
  background: grey;
}
.custom-controls .progress-bar {
  background: blue;
}
.custom-controls .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-controls .status {
  cursor: default;
}
.custom-controls button {
  background: transparent;
  border: 1px solid black;
  padding: 0.5em;
  font-family: monospace;
}
.custom-controls button:hover,
.custom-controls button:focus {
  cursor: pointer;
  border-color: blue;
  color: blue;
}
.custom-controls button:focus {
  outline: 0;
}
.custom-controls button:disabled {
  cursor: default;
  border-color: grey;
  color: grey;
}
.custom-controls button.pause {
  display: none;
}

.constrain-16-9 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  text-align: center;
}
.constrain-16-9 > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.video video {
  border: 0;
}
.video .fallback {
  padding: 1em;
}

footer {
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
