---
templateEngineOverride: njk,md
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>still resonating | participatory postcard works</title>
  <link rel="stylesheet" href="/assets/main.css">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body class="{{ title }}">
  <main>
    {{ content | safe }}
  </main>
  <script src="/assets/main.js"></script>
</body>
</html>
