---
templateEngineOverride: njk,md
layout: layouts/default
---
<header>

## [*still resonating*](/)

</header>

{#<nav>
{% include 'postcard-links.njk' %}
</nav>#}

# {{ title }}

{{ content | safe }}

<footer>

*still resonating* is {% include 'about.njk' %}.

{% include 'email.njk' %}

</footer>
